<%@ page language="java" contentType="text/html; charset=utf-8"
    pageEncoding="utf-8"%><%@ page import="config.GlobleConfig" %><%
    
    request.setAttribute("domain",GlobleConfig.localhost);
	request.setAttribute("no_view_url",GlobleConfig.show_local);
    
     %><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Welcome to Gotribus, This is ABOUT </title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="${domain}user/font/font.css" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="${domain}user/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen,projection" href="${domain}user/css/css3.css" />
    <link rel="shortcut icon" href="http://www.gotribus.com/view/images/LOGO_32.png"/>
    <!--[if lt IE 10]>
   		<script src="js/PIE.js" type="text/javascript"></script>
    <![endif]-->    
	<style type="text/css">
	#menu_rgt ul li a:hover {
		font-size: 20px;
	}
	</style>  
</head>

<body>
	<div id="wrapper"><br /><br /><!--start wrapper-->
    	<div id="header"><!--start header-->
        	<div class="logo"><a name="top" href="index.html"><img src="${domain}user/img/logo.png" alt="" width="59" height="65" /></a></div>
            <div id="header_rgt"><!--start header_rgt-->
            	<div id="menu_bg"><div id="menu_lft"><div id="menu_rgt">
                    <ul>

                    	<li><a href="${no_view_url}activity/index.action">EVENT</a></li>
                    	<li><a href="${no_view_url}movie/movieHomePage.action" title="MOVIE">MOVIE</a></li>
                        <li><a href="${no_view_url}book/bookHomePage.action" title="BOOK">BOOK</a></li>
                        <li><a href="${no_view_url}music/musicHomePage.action" title="MUSIC">MUSIC</a></li>
                        <li>
                        	<a href="${no_view_url}user/my.action" title="MY TRIBUS">MY TRIBUS</a>
                        </li>
                    </ul>
                    <div class="header_search">
                    	<form action="#">
                        	<p class="txt_header"><input type="text" /></p>
                            <p class="submit_header"><input type="submit" value=" " /></p>
                        </form>
                    </div>
                    <div class="header_icon_area">
                    	<span class="space_btm"><a href="#"><img src="${domain}user/img/icon_header1.png" alt="" width="10" height="11" /></a></span>
                        <span><a href="#"><img src="${domain}user/img/icon_header2.png" alt="" width="12" height="13" /></a></span>
                    </div>
                </div></div></div>
            </div><!--//end #header_rgt-->
        </div><!--//end #header-->
        <div id="main_area"><!--start main_area-->
        	<div id="about_content"><!--start about_content-->
            	<h2>Terms & Privacy </h2>
                <div id="about_menu"><!--strat about_menu-->
                	<ul>

                    	<li><a href="${no_view_url}user/about.action"><span><span>About Lacoo</span></span></a></li>
                        <li><a href="${no_view_url}user/support.action"><span><span>Support</span></span></a></li>
                        <li><a href="#"><span><span>Copyright &amp; Trademark</span></span></a></li>
                        <li><a href="${no_view_url}user/police.action"><span><span>Terms &amp; Privacy</span></span></a></li>
                        <li><a href="${no_view_url}user/career.action"><span><span>Career</span></span></a></li>
                    </ul>
                </div><!--//end #about_menu-->
                <div id="about_box"><!--start about_box-->
                	<p>



					<h2>goTribus.com</h2>     

<br/> 
 <b> General.    </b>
goTribus.com™ website exists to provide an opportunity for people to visit our 
website and share their interests with others of like interest.  It exists to provide a very 
affordable (sometimes free) way to obtain, read and share information on movies, books, 
and activities surrounding a specific interest or genre. It exists so that people can get 
together through our website or even get together in person for activities like sharing a 
particular type of ethnic food, or enjoying the same type of music – whether its hip-hop, 
hard rock, country, or opera. We take our website users’ privacy very seriously.  It is 
important for us to meet our responsibility  to protect confidential information and privacy. 
We value your trust in us to protect your privacy. We take appropriate measures to train 
our employees to treat your information confidentially.  Additionally, we maintain 
procedural, electronic, and physical protection for your non-public information. Generally, 
we do not share your personal information with non-affiliates of our company; however, 
we may share personal information under certain circumstances as described within this 
Privacy Policy. 
 
<br/><br/><br/>

<b> Definitions.</b>  The words you, her, him, their, user all refer to any person who uses 
this website. “We”, “ours” and “us” refers to LACOO, LLC and, their officers, 
directors, shareholders, agents or affiliates. goTribus.com is the service mark of 
LACOO, LLC for its website.  “Merchant” or “merchandising partners” refers to 
advertisers, market research firms, and any company or corporation providing 
services to LACOO, LLC or goTribus.com website users.  “Books” shall include 
journals and magazines. “Media” refers to all DVD, albums, CDs, records, digital 
downloads, on-line content and/or electronic media. 
 
<br/><br/><br/>

<b>License to Use this Site - Terms and Conditions.</b> The goTribus.com website is for  
users seeking to post or communicate their interests with others, often in  
non-traditional ways, as well as to enjoy a variety of information provided by any other 
visitors to the website who enjoy the same interests and to have convenient access 
to events and products that are directly related to the interests that users posts. The 
use of this website is subject to all applicable federal and state laws.  The user may 
use this website only for lawful non-commercial purposes.  Commercial use of this  
website is strictly prohibited without the express written permission of the owners of this  
website.  User agrees to all terms and conditions set forth in each paragraph of the  
Privacy Statement. 
 
<br/><br/>  <br/>

<b>Children’s Online Privacy Protection Act.</b>  This website may collect information 
from children under 13 (thirteen years of age) for the purpose of helping that child find 
child appropriate information.  If a person identifies himself or herself as a child under 13 
years of age, parental or legal guardian consent is required before collecting any 
information from the child. However, if a child accesses the website without our goTribus.com knowledge of the child’s age, the information will be deemed to be willfully provided by 
the adult parent or guardian of the child. 
 
<br/><br/><br/>

<b>Intellectual Property Ownership Rights. </b>LACOO, LLC or its licensors own all 
intellectual property rights in this website. The contents of this website are the 
copyrighted materials of its owners. The website name, goTribus, is a trademark of LACOO, 
LLC. You may not modify, license, sell, reproduce, or distribute information from this 
website for commercial purposes without express written permission from its owners. 
You may not use our trademarks other than to identify our company and/or its products 
and services without our express written permission. 
 
<br/><br/><br/>  

<b>Collection  of Information and How We Use and Protect Your Information. </b>We 
collect information such as your name, age, address, any books, albums, or films marked as 
being like or preferred by you, photo album content, your preferred activities, activities you 
organized, created or joined, and other preferences. When you are making a payment 
using e-commerce services, we employ industry standard encryption technology, for 
example, VERiSIGN® and cryptographic protocols such as Secure Socket Layer (SSL). 
 
<br/><br/><br/>

<I>How Your Use of Website Is Shared.</I> When you use our website we may ask you for 
information that we may use for marketing products and services related our website – 
for example, we may use your pictures and photographs, and preferences identified for 
profit by sharing this information with our merchant partners to provide particular 
promotions and advertisements to targeted users and for posters and flashes.  For example, 
if a user named David indicates that he likes the newest Lady Gaga album by marking 
“wanted” (meaning, interest in listening), we might provide an advertisement about a 
Lady Gaga concert on David’s page. 
 
<br/><br/><br/>

<I>Personal Financial Data, Address and Phone Number.</I> We may share your city and/or 
zip code information with our merchant partners for promotional and other purposes. 
However, we only use your personal financial data, exact address and telephone number 
information to complete the transaction that you request, for billing and collection 
purposes, or when we have your consent to use your personal information. We use third 
parties to transmit e-commerce payments, and we do not store any financial data or other 
sensitive data, such as social security numbers, on our website. We rely on third party 
vendors to keep the financial data you submit secure.  Please note that we do not monitor 
the internal operations, procedures or security protocols of any third party financial entity 
that processes payments you make on our website.
<U>We do not warranty any action </U>by any 
third party upon which we rely to process your e-commerce payments.   
 
 <br/><br/>
We do not share or sell any non-public financial information to anyone outside our 
company and our affiliates. We will not collect social security numbers on our website.   
 <br/><br/>
We may also disclose your information to companies or contractors we engage to provide 
products or services to you, including services you may have requested or operational 
support that we may have requested.  Our contracts with these companies and contractors 
require that they keep your information confidential and our contracts require that they goTribus.com     	
only use your information for the purposes we have directed them.  In other words, we 
will only transfer data to others consistent with the Notice that we have provided in our 
<h4>USER AGREEMENT / PRIVACY STATEMENT</h4>. 
 
<br/><br/><br/>

<I>Other information Sharing.</I> We may, if permitted by law, share information with 
non-affiliated third parties in the event of sale of our business to another or if you give 
us consent. We also will share information if we are required to do so by state and 
federal laws, such as in responding to a court issued subpoena and/or summons. 
	

<br/><br/><br/>

<b>Updating and Maintaining Integrity of Your Personal Data. </br> Much of the  
personal information you may provide to us may be easily updated by you so that you 
can ensure your data accuracy. For example, you may add, modify and/or change: 
<ul>  
	<li>Your personal settings (profile picture, name, sex, etc.) </li>
	<li>  Your comment or review for identified areas of interests  </li>
	<li>  Any activity created by you  </li>
 </ul>
For those modifications to those pages that require the intervention and assistance of our 
technical support team, please be advised that some technical support actions may take 
time. We do not guarantee any specific response time for matters being handled by our 
technical support.  				
					<br/><br/><br/>				

  <a href="#" name="a">You may also delete your data or deactivate your goTribus.com Account; 
  </a>

  <br/>  <br/>You may also deleting your data or deactivating your Account may not fully or immediately remove 
the content you have published from our systems, due to reasons such as existing 
backups, caching of, copies of, or references to your Account information. Some of the 
public activity on your Account prior to deletion (such as Re-blogs of your blog posts) 
may remain stored on servers and be accessible to the public.  Also, if any of your 
webpage content was viewed and stored by other users, you may be unable to remove 
or erase that information. 
           <br/>  <br/><br/>   
<I>   Data Storage.</I>
Some data may be stored on servers, including cloud storage servers, 
located outside the United States. By providing us with your data, you consent to the 
transfer of such data to our servers, wherever they are located. We do not warranty the 
reliability of any data server because we rely of third parties for storage servers. 

   <br/><br/><br/>
 <I>    Exclusions from Our Privacy Policy.</I>
 All basic information items  
           of interest to you, for examples, books, albums, films, actors, are uploaded to our 
website by you and other users. However, once you upload the information, you give 
us  the right to change the upload to our website  to correct any errors or inaccuracies 
that may be reported by other users. Other users will have the right to report any error 
or inaccuracy about the information by clicking the BUTTON we provide on the page.  
This Privacy Policy does not  extend to the interactions of the website users or their 
publications. 

   <br/><br/><br/>
 
 <I> Facebook Designer Platform and Privacy Policy. </I>
 This website utilizes Facebook’s 
 web designer platform. All users of this website are deemed to have read and agree 
 to the privacy policy of Facebook.  If you have not previously read the Privacy  
 Policy of Facebook, you are still bond by Facebook’s privacy policy. For your  
 convenience, here is the link to Facebook’s policy:   
<a href="http://www.facebook.com/full_data_use_policy#infoaboutyou">Facebook Police</a>	
 
    <br/><br/><br/>

<b> Cookies. </b> Cookies are small files containing a string of characters that are placed on your 
computer when you visit a website.  The cookie uniquely identifies your browser. We use 
cookies to make it easy for you to use our website and to obtain information to help us 
improve our website and other services to our customers. You as a user have the freedom 
to accept, reject or clear cookies from your computer. We do not use permanent cookies 
on our website. 
   <br/> <br/><br/>
    <b> Personal Data  Security Safeguards. </b>Securing your personal data is important to us. 
We guard your personal information using procedural, electronic and physical 
safeguards to protect it from loss, misuse, unauthorized access, disclosure, alteration or 
destruction. It is important that you do not disclose your personal data, including your 
passwords, to anyone who might use your personal information improperly.  
   <br/> <br/><br/>
  No Safety of Social Networking.  LACOO, LLC makes no investigation of users of its 
website. Contact between users through our website or in person is fully the 
responsibility of the parties and LACOO, LLC is not responsible for negative, 
inappropriate or dangerous behavior between users.   

    <br/><br/><br/>
   Copyright Statement. Work for which you are the creator and/or original author 
belongs to you and you can remove it. You retain copyrights in your own original 
work. However, all posting by you on our website may be used by us for marketing to 
other users and for profit purposes. 
 <br/><br/>
When you upload any information or activity or poster or etc., you are responsible for 
determining whether this information is the copyrighted material of any third party, and if 
appropriate, for obtaining proper permission from third parties to use their work. You 
agree to indemnify us and hold us harmless for any infringement claim against LACOO, 
LLC by other parties whose work or material you uploaded. You also agree to pay all 
costs associated with defending any lawsuit against LACOO, LLC for any infringing 
work posted or published by you on LACOO, LLC’s website. We will remove any 
material or content uploaded about which we receive complaints of copyright 
infringement.  goTribus.com follows the take-down provisions of the Digital Millennium 
Copyright Act. 
    <br/><br/>
If you would like more information on copyright law, please visit the U.S. Copyright 
Office <I>Frequently Asked Questions</I> ( FAQS) at <a href="www.Copyright.gov">www.Copyright.gov</a>
   <br/> <br/><br/>
<b> Indemnification. </b>You agree to indemnify and hold harmless LACOO, LLC against goTribus.com     
any legal claim brought against LACOO, LCC by any third party for any legal cause of 
action.  You agree to pay all legal cost of defense of any claim or lawsuit by third parties 
against LACOO, LLC for your actions or inactions related to your use of the 
goTribus.com website. You agree to cooperate with LACOO, LLC in providing 
information necessary to defend against any claim or lawsuit brought against LACOO, 
LLC. 
 
   <br/>   <br/><br/>
   
<b>   Removal of Pornographic, Offensive, Illegal and other Material </b>
We have the right, at our sole discretion, to remove any material posted on our 
website as we see fit.  This includes, but is not limited to, material that is pornographic, 
offensive, and/or illegal, or that we deem offensive and/or harmful, or that is in 
conflict with the interest with movie producers and hosts. 
 
 <br/>  <br/>   <br/> 
 <b>DISCLAIMERS OF WARRANTY AND DAMAGE LIMITATIONS </b>
 
   <br/> <br/>    <br/> 
   
   DISCLAIMER OF WARRANTIES. THIS WEB SITE DOES NOT PROVIDE ANY  
WARRANTIES, EXPRESS  OR  IMPLIED. WE DISCLAIM WARRANTIES OF 
MERCHANTABILITY, FITNESS  FOR A PARTICULAR PURPOSE,  NON- 
INFRINGEMENT OF THIRD  PARTIES’ INTELLECTUAL PROPERTY RIGHTS, 
TITLE AND ANY OTHER WARRANTIES OF ANY KIND.  We make  no representation 
regarding the quality  and  value of the books and media being sold on goTribus.com’ 
website. We make  no warranty regarding whether any product offered for sale on our 
web site will ever be purchased by a single person.	
 
>	 	 DAMAGE LIMITATIONS, LIABILITY DISTRIBUTION AND EQUITABLE RELIEF. 
YOU ASSUME ALL RESPONSIBILITY FOR USE OF OUR WEB SITE. LACOO 
LLC’S DIRECTORS, SHAREHOLDERS, AGENTS, AFFILIATES OR ADVERTISERS, 
SHALL NOT, UNDER ANY CIRCUMSTANCES BE LIABLE FOR ANY NON-
DIRECT DAMAGES WHATSOEVER, INCLUDING INCIDENTAL AND 
CONSEQUENTIAL DAMAGES, DAMAGES BASED ON LOSS OF DATA, 
PREVENTION OF ACCESS TO DATA, LOST OPPORTUNITY TO PARTICIPATE IN 
ANY EVENT, ABILITY TO USE OF ACCESS THE WEB SITE, OR ANY OTHER 
DAMAGES. FOR ANY STATE THAT DOES NOT ALLOW IMMUNITY FROM 
CONSEQUENTIAL DAMAGES, ANY  DAMAGES WILL BE LIMITED TO THE 
AGGREGATE SUM OF $200.00  (TWO HUNDRED US DOLLARS). FURTHER, ANY 
DIRECT DAMAGES WILL BE LIMITED TO $200.00 (TWO HUNDRED U.S. 
DOLLARS). 
	
<br/>   <br/>   <br/>

<I>Disclaimer for goTribus.com’s Links  to Other Websites. </I>
goTribus.com may link to  
other party’s websites. These links are provided for the convenience of our website users 
and LACOO, LLC, their Officers, Directors, Shareholders, agents, affiliates or advertisers, 
are not responsible for the content of any third party website.  You must decide at your 
own risk whether to use any third party website to which we provide the links. 
 
<br/>   <br/>   <br/>

<I>Disclaimer on Linking  from Other Sites to the goTribus.com.com Website. </I>

Other 
parties and organizations may link to our web site.  However, such linkages should not be  goTribus.com     
construed to suggest our implicit or explicit endorsement of the particular website to 
which our website is linked.  Unless we specifically state otherwise in writing  
visible near the external link to our website, we do not endorse the content, and/or 
services of such site, nor shall we be liable for the same. 
 
    <br/>    <br/>    <br/>
<I>  Legal Disclaimers.</I>  No information displayed on the goTribus.com web site is to be 
construed as giving any persons, business or legal advice to the user.  No action that we 
recommend on this site is to be construed to be a warranty against unauthorized breaches 
of security by our computer resources, vendors and/or vendor affiliates. 
 
   <br/>   <br/>   <br/>
   
   <b>No Security for Public Forums Information: </b>
   Blogs, Chat  Rooms, Message Boards, 
and  Forums, News Groups, and Online Surveys.  Any information that you disclose on 
blogs, chat rooms, message boards, forums, news groups, and online surveys may become 
public information, therefore the user assumes all risks of disclosing his/her personal 
information. We do not assume any implicit or explicit liability for content posted by our 
website users disclosed on blogs, chat rooms, message boards, and forums, news groups, 
and online surveys contained on the goTribus.com web site.  From time to time, we may 
conduct a survey to learn more about users of our website.  Any such surveys will state 
whether the information will be kept confidential or shared. 
 
   <br/><br/><br/>
   <b>Opt-in/Opt-Out Provisions.</b>
   There may be times when goTribus.com requests that you 
          provide sensitive information, and you will be given the opportunity to either opt-in or opt- 
         out of providing that information.  Opting out of providing certain sensitive information  
           may limit your ability to full access to information and/or services provided on the  
         goTribus.com website. 
 
   <br/><br/><br/>
   <b>Choice of Law and Jurisdiction.  </b>
   The user agrees that any disputes, claims or 
controversies that result in litigation related to goTribus.com.com,  the disclaimers in this 
website, and all information contained in this website will be governed by the substantive 
and procedural laws of the State of Illinois. Any lawsuit filed related to goTribus.com shall 
be limited to the State Court located in Cook County, IL in the City of Chicago.  Any 
lawsuit filed in federal court must be filed in the United States District of Northern District 
of IL located in Chicago, IL. 
  
   <br/><br/><br/>
   <b>Security Rules.</b>  There may be civil or criminal penalties for any user that attempts to  
         violate the network security of this website. We will prosecute those who overload,  
         submit viruses, probe, scan, test or access our network without proper authorization. 
 
   <br/> <br/> <br/>
   <b>Privacy Policy Updates.</b>   From time to time we will update our privacy policy. 
         You should check our website periodically to verify any changes to our Privacy 
       Policy.  Prior privacy policies will be archived for your access and review. 
 
 
   <br/>   <br/>   <br/>
   <b>Privacy Policy Contact.</b>  If you have any questions regarding our privacy policy, please 
         contact:   privacy@goTribus.com 
 
LACOO, LLC goTribus.com     
   <br/>   <br/>   <br/>
21.0 More information. For more information contact:  
 
We value your thoughts about your experiences with our website.  Please share with us your 
constructive thoughts on ways that we can improve our website and serve you better.  Just 
click on Contact Us to share your thoughts. 


					
					</p>
                </div><!--//end #about_box-->
            </div><!--//end #about_content-->
            <div id="footer"><p> &copy;2012 goTribus |<span>All rights reserved</span> </p></div>
            <div id="back_to_top"><a href="#top"></a></div>
            <script src="${domain }js/jquery-1.8.0.min.js" type="text/javascript"></script>
            <script src="${domain }js/back_to_top.js" type="text/javascript"></script>
        </div><!--//end #main_area-->
    </div><!--//end #wrapper-->
</body>
</html>                                                                                                   